@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .customTransition {
    @apply motion-safe:ease-out motion-safe:duration-300;
  }

  .effectTodo {
    height: 50px;
    width: 50px;
    position: relative;
    overflow: hidden;
  }

  .effectTodo:after {
    position: absolute;
    content: '';
    display: block;
    height: 200%;
    width: 200%;
    left: -100%;
    background: white;
    border-radius: 100%;
  }
}
